.App {
  display: flex;
}

.sideMenu {
  width: 250px;
  background-color: #333;
  height: 100vh;
  padding: 20px;
  color: white;
}

.sideMenu a {
  color: white;
  text-decoration: none;
}

.sideMenu ul {
  list-style: none;
  padding: 0;
}

.sideMenu ul li {
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.sideMenu ul li:hover {
  background-color: #444;
}

.content {
  flex-grow: 1;
  padding: 20px;
}